#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 21%);
  padding: 0.1em 1em;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(197, 78, 78);
}

#nav-links span:hover {
  font-weight: 600;
  color: red;
  transition: 0.4s;
}

#nav-links > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brand-text {
  font-size: 1.2em;
  margin-left: 10px;
}

.active {
  background-color: #414869;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
}

#nav-links a .about-icon {
  margin-left: 5px;
  font-size: 1.2em;
}

#nav-links a:hover {
  text-decoration: dotted;
}
